html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  background-color: rgb(175, 175, 175);
  background-size: cover;
  background-image: url("../images/gridiron-background-vt.png");
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 300000000;
}

i {
  margin: .5em;
}

main {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.scfl-banner {
  background-color: rgb(110, 110, 110);
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}

.scfl-banner a:hover {
  text-decoration: none;
  color: rgb(255,255,255);

}

.fas{
  color: rgb(255,0,0);
}

.nav-item{
  margin-right: 1em;
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.nav-link:hover{
  background-color: rgb(255,255,255);
  border-radius: .5em;

}

.article-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: [featured-article] auto;

}

.featured-article img{
  float: left;
}

.featured-article {
  grid-column-start: 1;
  grid-column-end:
}

.scfl-article{
  grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
  background-color: rgb(220, 220, 220);
  background-color: rgba(220, 220, 220, 0.85);
}

.article-image{

}

.subscribe{
  background-color: rgb(0,0,110);
  color: rgb(220,220,220);
  padding: 2em;
  margin-top: 1.5rem;
}

.subscribe, label{
  color: rgb(110, 110, 110);
  margin-left: 1em;
  margin-right: 1em;
}

label:hover{
  font-style: italic;
  color: rgb(255,255,255);
}

form > input {
  margin: .5em;
}
form > label{
  maring: .5em;
}

footer {
  text-align: center;
}
